<div id="jumbo" class="p-5 mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5 fw-bold">White Lotus Weekly</h1>
    <p>A weekly review of HBO's White Lotus Season 3</p>
  </div>
</div>