<div id="jumbo" class="mb-4 bg-light">
  <div class="container-fluid py-5 text-center">
    <h1 class="site-title display-5 fw-bold">White Lotus Weekly</h1>
    <p class="site-subhead">A weekly review of HBO's White Lotus Season 3</p>
  </div>
</div>