{% extends '_templates/base.njk' %}
{% set relative_path = "../" %}
{% from '_macros/prose.njk' import prose %}

{% block page_title %}{{ headline }}{% endblock %}

{% block page_description %}{{ headline }} by Ava Motes{% endblock %}

{% block content %}
  <article class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <h1>{{ headline }}</h1>
        <hr class="d-sm-none">
        <img src="../img/{{ image }}" alt="" class="img-fluid mb-4 mx-auto d-block w-100">
        <p class="byline">Review by Ava Motes, <span>White Lotus Weekly</span></p>
        {{ prose(post) }}
      </div>
    </div>
  </article>
{% endblock %}