{% extends '_templates/base.njk' %}

{% block page_title %}Character Rankings{% endblock %}

{% block page_description %}A ranking of all characters in season 3.{% endblock %}

{% block content %}
<article class="container">
  <h1>My Definitive Character Ranking</h1>
  <p>This is a live character ranking, which is updated each Sunday after new episodes air. No one is safe, and the tables can certainly turn. Check back for updates each week!</p>

  <div class="row row-cols-1 row-cols-md-1 g-4 row-cols-lg-2">
    {% for character in ranking.characters %}
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            {{ character.rank }}. {{ character.name }}
          </h3>
          <h6 class="card-subtitle text-muted">
              Played by {{ character.actor }}
          </h6>
          <p class="card-text">{{ character.reasoning }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}
