{% extends '_templates/base.njk' %}

{% block page_title %}Character Rankings{% endblock %}

{% block page_description %}A ranking of all characters in season 3.{% endblock %}

{% block content %}
<article class="container justify-content-center">
  <h1 class="col-12 col-sm-8 col-md-9 col-lg-10 mx-auto mb-4">My Definitive Character Ranking</h1>
  <p class="col-12 col-sm-8 col-md-9 col-lg-10 mx-auto mb-4">This is a live character ranking, which is updated each Sunday after new episodes air. No one is safe, and the tables can certainly turn. Check back for updates each week!</p>

  <div class="row row-cols-1">
    {% for character in ranking.characters %}
    <div class="col-12 col-sm-8 col-md-9 col-lg-10 mx-auto mb-4">
      <div class="card">
        <img src="img/{{ character.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">
            {{ character.rank }}. {{ character.name }}
          </h3>
          <h6 class="card-subtitle text-muted">
              Played by {{ character.actor }}
          </h6>
          <p class="card-text">{{ character.reasoning }}</p>
        </div>
        <div class="card-footer">
          <a href="{{ character.source }}" class="card-link">Image Source</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}
