{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col"><h1>Reviews, Rankings, and More</h1>
<p>Follow along as I share my thoughts on White Lotus Season 3, which is set in Koh Samui, Thailand. We're here for the drama, discourse, and everything in between. Some will say this is director Mike White's slowest season yet, but the devil is in the details. The third installment may be more subtle, but there's a lot to unpack.</p></div>
  </div>
</div>
{% endblock %}