{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <h1>Reviews, Rankings, and More</h1>
      <p>Follow along as I share my thoughts on White Lotus Season 3, which is set in Koh Samui, Thailand. We're here for the drama, discourse, and everything in between. Some will say this is director Mike White's slowest season yet. In my book, that's not necessarily a detractor. The third installment may be more subtle, but there's a lot to unpack.</p>

      {% for review in reviews.reviews %}
        {#<img src="/img/{{ review.image }}" alt="{{ review.headline }}" class="review-thumbnail">#}
        {# I tried to add a thumbnail and resize the image in scss, but it didn't work #}
        <h3 class="headline"><a href="/reviews/{{ review.slug }}.html">{{ review.headline }}</a></h3>
        <p>{{ review.date }}</p>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}
