{# I wanted to make this page like the blog we did before, but couldn't get it to bake.
I ended up just doing it similarly to the character ranking spreadsheet as filler.
I need help here. #}

{% extends '_templates/base.njk' %}

{% block page_title %}Episode Reviews{% endblock %}

{% block page_description %}My reviews of each episode in season 3.{% endblock %}

{% block content %}
<article class="container">
  <h1>Episode Reviews</h1>
  <p>These are my reviews of each epidisode, updated weekly.</p>
  <div class="row row-cols-1 row-cols-md-1 g-4 row-cols-lg-2">
    {% for review in reviews.episodes %}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">
            {{ review.number }}. {{ review.title }}
          </h3>
          <h6 class="card-subtitle text-muted">
              Score: {{ review.score }}
          </h6>
          <p class="card-text">{{ review.reasoning }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}
